@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.right-side {
  float: left;
  overflow: hidden;
}

.asos {
  display: flex;
  flex-direction: column;
  padding: 33px 11px 0 13px;
  overflow: hidden;
  margin-bottom: 20px;
}
.SidebarUniverstitet {
  & > button {
    padding: 10px 34px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background: #00587f;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    span {
      display: flex;
      .manager-download {
        font-family: Raleway !important;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: #ffffff;
        background: none;
        border: none;
      }
    }
    .manager-excel {
      align-items: center;
      display: flex;
    }
  }

  .settSearch {
    margin-top: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
      outline: none;
      border: none;
    }

    .searchUniv {
      background: #ffffff;
      box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09),
        2px 4px 9px rgba(0, 0, 0, 0.1);
      border-radius: 14px;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 20px;
      input {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 16px !important;
        letter-spacing: 0.02em;
        color: #7595a3;
        outline: none;
        background: none;
        border: none;
        width: 100%;
      }
      img {
        width: 36px;
        padding: 8px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .settingsUniver {
      height: 100%;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09),
        2px 4px 9px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-left: 20px;
      cursor: pointer;
      img {
        width: 24px;
      }
    }
  } // end settSearch

  .univerList {
    margin-top: 24px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background: #fff;
    padding: 22px 0 0 0;
    // width: auto;
    // overflow-x: scroll;
    width: 100%;
    .list-doc {
      margin-bottom: 20px;
      margin-left: 20px;
    }
    .infoTd {
      text-align: center;
      img {
        width: 28px;
        height: 28px;
      }
    }

    table {
      width: 300%;
      text-align: left;
      .accTickTableTr {
        height: 50px;
        td {
          padding-right: 0;
          padding: 20px 0;
        }
      }
      .spinner2 {
        position: fixed;
        height: 100vh;
        top: 0;
        width: 100%;
        right: 0;
        background: #00000047;
      }
      border-spacing: 0;
      position: relative;

      //   thead::before {
      //     content: "";
      //     background: #00587f;
      //     position: absolute;
      //     width: 100%;
      //     height: 1.5px;
      //     top: 37px;
      //   }

      width: 100%;
      .table-line {
        border-bottom: 1.5px solid #00587f;
        th {
          text-align: inherit;
          font-family: Raleway;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: #00121a;
        }
      }
      tr {
        padding-bottom: 16px;
        // border-bottom: 1.5px solid #00587f;

        td {
          font-family: Raleway;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          letter-spacing: 0.02em;
          color: #00121a;
          padding-left: 20px;
          // button {
          // height: 40px;
          // width: 197px;
          // background: #5ec98b;
          // border-radius: 4px;
          // font-weight: 500;
          // font-size: 15px;
          // line-height: 18px;
          // color: #ffffff;
          // }
        }
        .priDoc {
          color: #219653;
          font-weight: 500;
        }
        .priZak {
          color: #e96464;
          font-weight: 500;
        }
        .firstTD {
          margin-left: 10px;
          padding: 15px !important;
        }
      }
      // .firstTD {
      //   padding-left: 32px;
      // }
      tbody {
        tr:nth-child(even) {
          background: #f0faff;
        }
        .invoice-row {
          width: 600px;
        }
      }
      thead {
        th {
          padding-bottom: 12px;
          text-align: start;
          // padding-left: 20px;
        }
      }
    }
  }

  .search-td {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    .manager-search {
      margin-right: 10px;
    }
    .table-manager {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      background: #00587f !important;
      border-radius: 4px;
      font-size: 15px;
      line-height: 18px;
      padding: 11px;
      display: flex;
      margin: 20px 0 !important;
      outline: none;
      border: none;
      cursor: pointer;
      letter-spacing: 0.02em;
      color: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
  .poisk {
    background: #ffffff;
    border: 1px solid #00587f;
    box-sizing: border-box;
    // box-shadow: 0px -2px 8px rgb(0, 0, 0 / 9%), 2px 4px 9px rgb(0, 0, 0 / 10%);
    border-radius: 4px;
    padding: 7px;
  }

  .FilterFix {
    position: fixed;
    // width: 430px;
    right: 0;
    top: 0;
    z-index: 102;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 4fr 1fr;
    // grid-template-columns: 3fr 1fr;

    .fixLeft {
      width: 100%;
      height: 100%;
    }
    .FilterUniver {
      position: relative;
      background: #fff;
      padding: 22px 46px 0 32px;
      overflow-y: scroll;
      width: 432px;
      transition: 0.7s;
      .ab_2_close {
        position: absolute;
        left: 15px;
        height: 15px;
        padding: 0;
        width: auto;
        margin-top: 0;
        background: none;
        border-radius: none;
      }
      & > h4 {
        padding-top: 25px;
        text-align: center;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: #000000;
        margin: 0 0 4px 0;
      }
      & > p {
        margin: 20px 0 5px 0;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.02em;

        color: #000000;
      }
      .datapickBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div {
          position: relative;
        }
        & > div::before {
          content: "";
          width: 22px;
          height: 22px;
          background-image: url("../../assets/icon/data_icon.svg");
          background-size: cover;
          position: absolute;
          z-index: 99999999;
          left: 10px;
          top: 9px;
        }
        img {
          margin-right: 10px;
        }
        input {
          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.02em;
          color: #7595a3;
          outline: none;
          background: none;
          font-size: 14px;
          width: 95%;
          padding: 11px 18px;
          border: 1px solid #00587f;
          border-radius: 8px;
          text-align: right;
          position: relative;
        }
      }
      .selectCountry {
        padding: 0 16px;
        border: 1px solid #00587f;
        border-radius: 8px;

        select {
          padding: 10px 0;
          width: 100%;
          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.02em;
          color: #00121a;
          border: none;
          outline: none;
        }
      }
      & > button {
        padding: 14px 0;
        width: 100%;
        margin-top: 30px;
        background: #00587f;
        border-radius: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        border: none;
      }
    } // end FilterUniver
  } // end FilterFix
} // end SidebarUniverstitet

.addNewUniverModalUniver {
  background: rgb(255, 255, 255);
  height: 100%;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;

  & > img {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    width: 32px;
  }
  .modalContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0.02em;
      color: #00121a;
      margin: 0 0 30px 0;
    }
    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #000000;
      }
      input,
      select,
      textarea {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        box-sizing: border-box;
        border: 1.5px solid #47606b;
        border-radius: 10px;
        outline: none;
        padding: 15px 23px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #5c7c8a;
      }
    }
    .modalDataPick {
      position: relative;

      & > div {
        width: 100%;
      }
      input {
        padding-left: 44px;
        width: 100%;
      }
    }
    .modalDataPick::before {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../../assets/icon/data_icon.svg");
      position: absolute;
      z-index: 99999999;
      left: 14px;
      bottom: 34px;
    }
    .importFile {
      background: #eaf5fa;
      border: 1px dashed #009fe5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 0;
      width: 100%;
      margin: 10px 0 0 0;
      p {
        margin: 0 0 0 16px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #5c7c8a;
        label {
          text-decoration: underline;
          margin-left: 5px;
          cursor: pointer;
        }
        #chFile {
          display: none;
        }
      }
    }
    & > button {
      width: 100%;
      margin-top: 40px;
      padding: 20px 0;
      background: #00587f;
      border-radius: 10px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .back_btn {
      background: none;
      outline: none;
      border: none;
      color: #00587f;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      padding: 0;
    }
  } // end modalContainer
}

.vector {
  margin-right: 12px;
  width: 20px;
}

//@MEDIA
// responsive 1080
@media (max-width: 1440px) {
  .asos {
    .Up_navbar {
      h4 {
        margin: 0;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 31px;
        color: #000000;
      }
      div {
        div {
          align-items: flex-start;
          h5 {
            margin-top: 0 !important;
            line-height: 26px;
            color: #000000;
            margin: 0;
            margin-bottom: 4px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            margin-top: 16px;
            color: #000000;
          }
          p {
            margin: 0;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: #5c7c8a;
          }
        }
      }
    }
    // .univerList {
    //   table {
    //     tbody {
    //       td {
    //         font-size: 14px;
    //       }
    //     }
    //   }
    // }
  }
}

@media (max-width: 1080px) {
  .SidebarUniverstitet {
    & > button {
      padding: 14px 25px;
      font-size: 18px;
    }
    .settSearch {
      height: 50px;
      & > button {
        outline: none;
        border: none;
      }
      .searchUniv {
        padding: 0 20px 0 10px;
        input {
          font-size: 18px;
        }
        img {
          padding: 9px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      .settingsUniver {
        width: 50px;
      }
    } // end settSearch

    @media (max-width: 425px) {
      .asos {
        .Up_navbar {
          div {
            .nav-bugalter {
              margin-top: 30px !important;
              //   display: none;
            }
          }
        }
      }

      .switch_asos {
        padding: 0;
      }
      .asos {
        padding: 40px 15px 0 15px;
      }
      .univerList {
        // overflow-x: scroll;
        table {
          width: 190% !important;
        }
      }
    }

    .univerList {
      .infoTd {
        img {
          width: 18px;
          height: 18px;
        }
      }
      table {
        thead::before {
          top: 30px;
        }
        tr {
          th {
            font-size: 16px;
          }
          td {
            font-size: 15px;
            padding: 17px 5px;
          }
          //   .priDoc {
          //   }
          //   .priZak {
          //   }
          .firstTD {
            padding-left: 12px;
          }
        }
        // .firstTD {
        // }
        // tbody {
        //   tr:nth-child(even) {
        //   }
        // }
        thead {
          th {
            padding-bottom: 12px;
          }
        }
      }
    }

    .FilterFix {
      grid-template-columns: 7fr 3fr;
      .FilterUniver {
        padding: 15px 15px 0 15px;
        & > h4 {
          font-size: 22px;
        }
        & > p {
          font-size: 14px;
        }
        .datapickBlock {
          //   & > div {
          //   }
          //   & > div::before {
          //   }
          img {
            margin-right: 10px;
          }
          input {
            font-size: 14px;
            padding: 10px 10px 10px 18px;
          }
        }
        .selectCountry {
          padding: 0 14px;
          select {
            padding: 10px 0;
            font-size: 14px;
          }
        }
        & > button {
          padding: 10px 0;
        }
      } // end FilterUniver
    } // end FilterFix
  } // end SidebarUniverstitet

  .addNewUniverModalUniver {
    width: 90%;
    & > img {
      top: 12px;
      right: 12px;
      width: 30px;
    }
    .modalContainer {
      h5 {
        margin: 0 0 15px 0;
      }
      & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // label {
        // }
        input,
        select,
        textarea {
          padding: 10px 23px;
        }
      }
      .modalDataPick {
        // & > div {
        // }
        input {
          padding-left: 44px;
          width: 100%;
        }
      }
      .modalDataPick::before {
        bottom: 30px;
      }
      .importFile {
        padding: 10px 0;
        img {
          width: 22px;
        }
        // p {
        //   label {
        //   }
        //   #chFile {
        //   }
        // }
      }
      & > button {
        margin-top: 20px;
        font-size: 18px;
        padding-bottom: 10px;
        padding-top: 12px;
      }
    } // end modalContainer
  }
  .addNewUniverModalUniver {
    height: 78%;
    padding-bottom: 30px !important;
  }
  .ReactModal__Content {
    margin-left: 320px !important;
  }
  .modal_2 {
    height: 100% !important;
    padding-bottom: 125px !important;
  }
}
.ReactModal__Overlay {
  overflow-y: scroll;
}
.ReactModal__Overlay::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 425px) {
  .asos {
    padding-left: 20px;
    padding-right: 20px;
  }
}
